
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08763d4032.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mediaQueryStyle.css">
    <link rel="" href="/login.html">
    <title>Mercado Liebre</title>

</head>

<body>
    <header>


        <form class="main-header">

            <div class="logo-busqueda">

                <div class="logo-conteiner">
                    <!-- LA barra "/" vuelve al home -->
                    <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>

                <div class="search-button-conteiner">

                    <div class="barra-de-busqueda">

                        <input class="busqueda" type="search" placeholder="Buscar productos, marcas...">
                        <button class="lupa"><i class="fas fa-search"></i></button>

                    </div>


                </div>

            </div>

            <div class="car-conteiner">

                <h2 class="compracuota"><i class="fa-solid fa-hand-holding-dollar"> </i> Comprá en cuotas y sin tarjeta
                    de
                    crédito</h2>

            </div>


            <!-- MENU HAMBURGUESA -->

            <div class="burguer-conteiner">

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>

            </div>

        </form>


        <!-- OPCIONES DE NAVEGACION  -->

        <nav class="main-navbar">

            <nav class="left-navbar">

                <ul>

                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>

                </ul>
            </nav>


            <nav class="right-navbar">

                <ul>
                    <li><a href="register.html">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="login.html">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>

        </nav>



    </header>
    <section>

        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">

    </section>
    <main>
        <div class="main-conteiner">


            <h3 class="titular">Basado en tu última visita</h3> <!-- ULTIMA VISTA -->

            <section class="ultima-vista">

                <div class="articulo">

                    <img class="cafetera" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">

                    <article class="info">
                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>
                        <div class="juntarprecio">
                            <div class="precio">
                                <p class="precio">$6.770</p>
                            </div>

                            <div class="descuento">

                                <p class="descuento">40% OFF</p>

                            </div>
                        </div>
                        <div class="descripcion">
                            <h4 class="descripcion">Cafetera Moulinex</h4>

                        </div>
                    </article>
                </div>


                <div class="articulo">
                    <img class="mac" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">

                    <article class="info">

                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">
                            <div class="precio">

                                <p class="precio">$230.000</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">20% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">MacBook Pro 2019</h4>

                        </div>

                    </article>

                </div>


                <div class="articulo">

                    <img class="galaxys10" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">

                    <article class="info">
                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">

                            <div class="precio">

                                <p class="precio">$70.500</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">10% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">Samsung Galaxy S10</h4>

                        </div>

                    </article>

                </div>

                <div class="articulo">

                    <img class="tvsamsung" src="/images/img-tv-samsung-smart.jpg" alt="Tvsamsung smart">

                    <article class="info">

                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">
                            <div class="precio">

                                <p class="precio">$23.200</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">5% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">SmartTv Samsung 43"</h4>

                        </div>

                    </article>

                </div>

            </section>

            <h3 class="titular">Ofertas</h3> <!--OFERTAS-->

            <section class="ofertas">


                <div class="articulo">

                    <img class="cafetera" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">

                    <article class="info">
                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>
                        <div class="juntarprecio">
                            <div class="precio">
                                <p class="precio">$6.770</p>
                            </div>

                            <div class="descuento">

                                <p class="descuento">40% OFF</p>

                            </div>
                        </div>
                        <div class="descripcion">
                            <h4 class="descripcion">Cafetera Moulinex</h4>

                        </div>
                    </article>
                </div>


                <div class="articulo">
                    <img class="mac" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">

                    <article class="info">

                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">
                            <div class="precio">

                                <p class="precio">$230.000</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">20% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">MacBook Pro 2019</h4>

                        </div>

                    </article>

                </div>


                <div class="articulo">

                    <img class="galaxys10" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">

                    <article class="info">
                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">

                            <div class="precio">

                                <p class="precio">$70.500</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">10% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">Samsung Galaxy S10</h4>

                        </div>

                    </article>

                </div>

                <div class="articulo">

                    <img class="tvsamsung" src="/images/img-tv-samsung-smart.jpg" alt="Tvsamsung smart">

                    <article class="info">

                        <div class="envio">

                            <i class="fa-sharp fa-solid fa-truck-fast"></i>

                        </div>

                        <div class="juntarprecio">
                            <div class="precio">

                                <p class="precio">$23.200</p>

                            </div>

                            <div class="descuento">

                                <p class="descuento">5% OFF</p>

                            </div>
                        </div>

                        <div class="descripcion">

                            <h4 class="descripcion">SmartTv Samsung 43"</h4>

                        </div>

                    </article>

                </div>



            </section>
        </div>
    </main>
    <footer>
        <div class="main-footer">

            <div class="info-footer-conteiner">

                <div class="card-conteiner">
    
                    <div>
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
        
                    <div class="texto-1">
        
                        <h3>Pagá con tarjeta o en efectivo</h3>
                
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                            seguro!</p>
        
                    </div>
    
                </div>
    
                <div class="envio-conteiner">
    
                    <div>
                        <i class="fa-solid fa-gift"></i>
                    </div>
        
                    <div class="texto-2">
        
                        <h3>Envío gratis desde $2.500</h3>
                
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                            Mercado Puntos.</p>
        
                    </div>
    
                </div>
    
                <div class="seguridad-conteiner">
    
                    <div>
                        <i class="fa-solid fa-user-shield"></i>
            
                    </div>
        
                    <div class="texto-3">
        
                        <h3>Seguridad, de principio a fin</h3>
                
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                            protegid@.</p>
                
                    </div>
    
                </div>

            </div>


            <div class="copi-conteiner">

                <h3>Copyright © 1999-2023 MercadoLiebre S.R.L.</h3>

            </div>

    
    
        

    

        </div>
    </footer>
</body>

</html>