@media (min-width: 320px) {
    .lupa{
        width: 15%;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
        height: 30px;
    }
    .busqueda{
        height: 30px;
        font-size: 15px;
    }
    .fa-search{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ultima-vista, .ofertas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .articulo, .descripcion {
        flex-direction: column;
        margin: 0 10px;
        max-width: 230px;
        transition: 450ms;
    }
    .articulo:hover{    
        box-shadow:0 0 30px #39b54a;
    }
    .articulo .descripcion{
        transition: all 450ms;

    }
    .articulo:hover .descripcion{
        display: block;
    }
    .articulo i{
        transition: 450ms;
    }
    .articulo:hover i{
        transform: rotate(-90deg);
    }
   




  
    /* LOGIN */
    .login-conteiner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        max-width: 300px;
        margin: auto;

        
    }
    .form-login{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .nya{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pass{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nombre{
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        width: 100%;
    }
    .password{
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        width: 100%;
    }
    .ingresar{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .boton-ingresar{
        width: 100%;
        height: 30px;
        background-color: rgb(6, 6, 248);
        border-radius: 5px;
        border: none;
        transition: all 400ms;
        
    }
    .boton-ingresar:hover{
        background-color:#39b54a;
        color: black;
    }
    .boton-ingresar a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    /* FORMULARIO DE REGISTRO */
    .form-register{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 30px;
    }
    .name{
        display: flex;
        justify-content: center;
        margin: 30px;    
    }
    .nom-ape{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }

    .user-conteiner{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .usuario{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }

    .mail-conteiner{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .e-mail{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }

    .nacimiento{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .fecha{
        display: flex;
        justify-content: center;
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }
    .calle{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .domicilio{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }

    .perfil{
        display: flex;
        flex-direction: column;
    }
    .perfil-usuario{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .img-perfil{
        display:flex;
        margin: 30px;
        font-size: 15px;
        height: 24px;
        width: 90%;
        border: none;
        border-radius: 5px;
        background-color: white;
    }

    .comprador{
        display: flex;
        flex-direction: row;
        width: 40%;
    }

    .vendedor{
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    .intereses-conteiner{
        display: flex;
        flex-direction: column;
    }
    .interes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px;
        gap: 30px;
    }

    .electro{
        display: flex;
        gap: 15px

    }
    .moda{
        display: flex;
        gap: 15px

    }
    .hogar{
        display: flex;
        gap: 15px

    }
    .jugueteria{
        display: flex;
        gap: 15px

    }
    .vidasana{
        display: flex;
        gap: 15px

    }
    .img-conteiner{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .pic{
        display: flex;
        flex-direction: column;
    }
    
    .clave{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 40px;
    }
    .eleg-cont{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }
    .conf-pass{
        font-size: 15px;
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
    }
    .boton-conteiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin: 40px;
    }
    .boton-enviar{
        background-color: blue;
        width: 100px;
        height: 35px;
        color: white;
        font-size: 15px;
        border-radius: 10px;
        transition: all 400ms;
    }
    .boton-enviar:hover {
        background-color: #39b54a;
        color: black;
    }


    .boton-borrar{
        background-color: blue;
        width: 100px;
        height: 35px;
        color: white;
        font-size: 15px;
        border-radius: 10px;
        transition: all 400ms;
    }
    .boton-borrar:hover {
        background-color: #39b54a;
        color: black;
    }
                   /* FOOTER */
    .card-conteiner i{
        transition: all 450ms;
    }
    .card-conteiner:hover i{
        color: #1896df;
        transform:scale(2)
    }

    .envio-conteiner i{
        transition: all 450ms;
    }
    .envio-conteiner:hover i{
        color: #1896df;
        transform:scale(2)
    }
    .seguridad-conteiner i{
        transition: all 450ms;
    }
    .seguridad-conteiner:hover i{
        color: #1896df;
        transform:scale(2)
    }





}





@media (min-width: 768px) {

    /* TABLET */
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        ;
    }

    .burguer-conteiner {
        display: none;
    }

    h4 {
        display: block;
    }

    ul {
        display: block;
    }

    i.fa-bars {
        display: none;
    }



    .compracuota {
        max-width: 300px;
        text-align: center;
        font-size: 15px;
        align-items: flex-start;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
        gap: 10px;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .barra-de-busqueda {
        max-height: 50px;
    }
    .logo{
        padding: 40px;
    }

    .ultima-vista,
    .articulo {
        display: flex;

    }

    .articulo {
        flex-direction: column;
        margin: 0 10px;
        max-width: 230px;
        transition: 450ms;
    }
    .articulo:hover{    
        box-shadow:0 0 30px #39b54a;


    }

    .descripcion {
        font-size: 15px;
        margin: 5px 0;
        opacity: 0;
        transition: 450ms;
    }
    .articulo:hover .descripcion{
        opacity: 1;

    }
    .articulo i{
        transition: 450ms;
    }
    .articulo:hover i{
        transform: rotate(-90deg);
    }
   

    .precio {
        font-size: 14px;
    }

    .descuento p {
        font-size: 14px;

    }

    .ultima-vista, .ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-busqueda {
        flex-grow: 1;

    }
    .fa-search{
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* BARRA DE BUSQUEDA */
    .lupa{
        width: 15%;
        height: 40px;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    .busqueda{
        height: 40px;
        font-size: 15px;
    }
        /* LOGIN */
    .login-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .form-login {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nya {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .nombre{
        border: none;
        height: 40px;
        width: 400px;
        font-size: 15px;

    }

    .pass {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .password{
        border: none;
        height: 40px;
        width: 400px;
        font-size: 15px;

    }

    .boton-ingresar {
        
        margin-top: 30px;
        width: 400px;
        height: 40px;
        background-color: #0022aa;
        border-radius: 5px;
        border: 0;
        transition: all 400ms;
        
    }
    .boton-ingresar a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .boton-ingresar:hover{
        background-color: #39b54a;

    }
    

}


@media (min-width: 1024px) {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .articulo {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        max-width: 212px;
    }

    .ultima-vista {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .ofertas {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .compracuota {

        max-width: 310px;
        text-align: center;
        font-size: 18px;
    }
    .barra-de-busqueda i{
        border: none;
        background-color: white;
        border-radius: 5px 0 0 5px;
    
    }
    .busqueda{
        height: 40px;
    }
    .lupa {
        width: 15%;
        padding: 1px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    .fa-search{
        width: 100%;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }